
body{
  background-color: #1F2833;
}
h1{
  color: seagreen; 
  font-size: 60px;
}
#id{
  color: #66FCF1;
}
.title{
  text-align: center;
}
.title{
  margin-top: 30px;
}
.title{
  margin-bottom: 20px;
  border: 5px solid #44A29E;
}
.h2{
  color: #F0FFFF
  ;
  text-align: center;
  font-size: 45px;
}
.h3{
  color: #F0FFFF
  ;
  text-align: center;
 
font-size: 25px;
}
 
 
.h4{
  text-align: center;
  font-size: 45px;
  color: #F0FFFF;
}
.h5{
  text-align: center;
  font-size: 25px;
  color: #F0FFFF;
}
body{
  background-color: #1F2833;
}
h1{
  color: seagreen; 
  font-size: 60px;
}
#id{
  color: #66FCF1;
}
.title{
  text-align: center;
}
.title{
  margin-top: 30px;
}
.title{
  margin-bottom: 20px;
  border: 5px solid #44A29E;
}
.h2{
  color: #F0FFFF
  ;
  text-align: center;
  font-size: 45px;
}
.h3{
  color: #F0FFFF
  ;
  text-align: center;
 
font-size: 25px;
}
 
 
.h4{
  text-align: center;
  font-size: 45px;
  color: #F0FFFF;
}
.h5{
  text-align: center;
  font-size: 25px;
  color: #F0FFFF;
}
